.button1 {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 100px;
  font-weight: 200;
  padding: 5px 10px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button1__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button1:hover {
  color: black;
  background: none;
}

.button1:hover .button1__icon-wrapper {
  color: #fff;
  background-color: #000;
}

.button1__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button1:hover .button1__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button1:hover .button1__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
