.about-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.about-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(30px);
  height: auto;
  border-radius: 12px;
  padding: 40px;
}
.about-section h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #dcdcdc;
}

.about-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.about-cards-container {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-contenedor {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 30px;
  background: rgb(0, 0, 0);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  border-radius: 30px;
  padding: 40px 20px;
  box-sizing: border-box;
}
.text-contenedor-izquierdo,
.text-contenedor-derecho {
  flex: 1 1 0;
  max-width: 50%;
  min-width: 220px;
  padding: 20px;
  color: #dcdcdc;
  background: #0d1117;
  border-radius: 20px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.botones-contenedor {
  margin-top: 20px;
}

@media (max-width: 900px) {
  .about-section {
    padding: 20px 5px;
  }
  .about-cards-container {
    max-width: 98vw;
    margin-right: 70px;
  }
  .text-contenedor {
    flex-direction: column;
    max-width: 98vw;
    padding: 20px 5px;
  }
  .text-contenedor-izquierdo,
  .text-contenedor-derecho {
    max-width: 100%;
    min-width: 0;
    margin-bottom: 20px;
  }
}
