.navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(40px);
  padding: 10px 30px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: all 0.2s ease;
}

.navbar-links li a:hover {
  background: #007bff;
  border-radius: 40px;
  padding: 15px 15px;
  color: #ffffff;
}

/* mantener el background si está activo */
.navbar-links li a.active {
  background: #007bff;
  border-radius: 40px;
  padding: 15px 15px;
  color: #ffffff;
}
.navbar-logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  text-decoration: none;
}

.navbar-logo img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/* Hamburger button */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.hamburger-line {
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.hamburger.active .hamburger-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-logo {
    z-index: 999999;
  }
  .hamburger {
    display: flex;
  }

  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(20px);
    flex-direction: column;
    align-items: center;
    gap: 40px;
    transition: right 0.3s ease;
    padding-top: 120px;

    box-sizing: border-box;
  }

  .navbar-menu.open {
    right: 0;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .contact-button {
    margin-left: 29px;
  }
  .navbar-links li a {
    font-size: 20px;
  }
}
