/* importar la fuente Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://www.fontspace.com/super-mario-world-text-box-font-f29242");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
